.filter-nav {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.filter-nav__link{
    padding: 0;

    &:not(:last-child){
        margin-right: 8px;
    }
}

.portfolio-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}



.portfolio-cards__item {
    list-style-type: none;
    max-width: 370px;

    &:hover,
    &:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}

    &:hover .portfolio-cards__overlay-text,
    &:focus .portfolio-cards__overlay-text{
    transform: translateY(0);}

}

.portfolio-cards__overlay{
    position: relative;
    overflow: hidden;
}

.portfolio-cards__overlay-text{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards__overlay-text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    margin: 0;
}



.portfolio-cards__content{
    border-bottom: 1px solid var(--primary-border-color);
    border-left: 1px solid var(--primary-border-color);
    border-right: 1px solid var(--primary-border-color);
    padding: 20px 24px;
}

.portfolio-cards__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
}

.portfolio-cards__text{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-top: 4px;     
}



.filter-nav__button{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;

    padding: 6px 22px;
    
    border: transparent;
    border-radius: 4px;

    &:hover,
    &:focus{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

