.section-work {
    padding-top: 0;
}

.section-work__title {
    margin-bottom: 50px;
}

.work-list{
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    column-gap: 30px;
}

.work-list__item{
position: relative;
flex-basis: calc((100% - 60px)/3);
}

.work-list__text-container{
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    min-height: 70px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-white-color);
    padding-top: 27px;
    padding-bottom: 27px;
}

.work-list__text{
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}